<!-- Morning Challenge: A local coffee house is finally starting to take off ever since they introduced cold brew made from Kopi Luwak. They can’t handle their order volume and are starting to drop orders. Create an app that enables the cashier to enter the customer's name and their order. Then add that order to a queue that the baristas can see and give them the ability to mark an order complete. Completed orders should show which barista completed the order and have their own list. Bonus points if the app automatically says the customer's name out loud when an order is complete. -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>café caliente</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="profile.css" type="text/css">
</head>

<body id ='profile'>
  <div class="container">

    <div class="page-header text-center">
      <h1 class="profile">Barista Profile Page</h1>
      <a href="/login" class="btn btn-default btn-sm">Logout</a>
      <a href="/logout" class="btn btn-default btn-sm">Back to Orders</a>

    </div>

    <div class="row">

      <!-- LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3>Completed Orders</h3>

          <ul class="messages">
            <% for(var i=0; i<messages.length; i++) {%>
            <% if(messages[i].completed){ %>
              <li class="message">s
                <p>Name: <span class="orderItem completed"><%= messages[i].name %></span></p>
                <p>Drink: <span class="orderItem completed" ><%= messages[i].order %></span></p>
                <p>Size: <span class="orderItem completed"><%= messages[i].size %></span> </p>
                <p>Treat: <span class="orderItem completed"><%= messages[i].treat %></span></p>
                <p>Barista: <span class="orderItem completed"><%=messages[i].baristaName %></span> </p>
              </li>
            <% }} %>

          </ul>

        </div>
      </div>
      <div class="completed well">
         <h3>Incoming Orders</h3>
         <ul class="messages">
           <% for(var i=0; i<messages.length; i++) {%>
         <% if(!messages[i].completed) { %>
     <li class="message">
       <p>Customer Name: <span class="orderItem"><%= messages[i].name %></span></p>
       <p>Customer Drink: <span class="orderItem" ><%= messages[i].order %></span></p>
       <p>Size: <span class="orderItem"><%= messages[i].size %></span> </p>
       <p>Treat: <span class="orderItem"><%= messages[i].treat %></span></p>

     </li>
     <% }} %>
   </ul>


      </div>

    </div>
    <span><i id="trash" class="fa fa-trash fa-3x" aria-hidden="true"></i></span>



    <script src="main.js"></script>

</body>

</html>
